.content_us_img{

    display: block;
    min-width: 500px;
    max-height: 500px;
}

.about_us{
    display: inline-flex;
    min-height: 500px;
    min-width: 500px;
}

.textAboutus{
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    min-width: 700px;
}
.Cerificates{
    margin: 0 auto
}
